/* ===== PYTANIE ===== */

#question{

    margin-top:35px;

    text-align:center;

    font-family:Arial, Helvetica, sans-serif;

    font-size:30px;

    font-weight:700;

    line-height:1.2;

    color:#ffffff;

    text-shadow:
        0 0 2px rgba(255,255,255,.30);

}

/* ===== ODPOWIEDŹ ===== */

#answer{

    display:block;

    margin-top:8px;

    font-size:38px;

    font-weight:900;

    letter-spacing:1px;

    color:#00ff80;

    text-shadow:
        0 0 3px currentColor,
        0 0 8px currentColor;

    animation:pulse 3s ease-in-out infinite;

}
